html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.link_logo {
  display: inline-block;
}

.bck_blue {
  background: #0d1831;
}

.bck_lblue {
  background: #98c5e9;
}

.img_cover {
  background-size: cover !important;
}
.container {
  /* width: 100%; */
  margin: 0 auto;
}

input {
  background: #fafafa;
  border: 1px solid #e9e9e9;
  font-size: 17px;
  padding: 8px;
  border-radius: 3px;
  font-family: Roboto;
  font-weight: 300;
  width: 100%;
  box-sizing: border-box;
}

select {
  font-size: 16px;
  height: 38px;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  width: 100%;
}

button {
  background: #0d1831;
  color: #ffffff;
  border: 1px solid #0d1831;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 3px;
}

.error_label {
  color: #f44336;
  font-weight: 600;
  margin: 10px 0px;
}

.success_label {
  color: #98c5e9;
  font-weight: 600;
  margin: 10px 0px;
  text-align: center;
}

.label_inputs {
  font-size: 20px;
  margin: 10px 0px;
  font-weight: 300;
  background: #e5f4ff;
  padding: 10px;
  display: inline-block;
}

.split_fields {
  margin: 30px 0px;
  padding: 20px 0px;
  border-top: 2px solid #dddddd;
}

.split_fields.last {
  margin-bottom: 0;
  padding-bottom: 0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cecece;
  text-align: center;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #cecece;
  text-align: center;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #cecece;
  text-align: center;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #cecece;
  text-align: center;
}

.image_upload_container {
  position: relative;
}
.image_upload_container img {
  height: 10rem;
}

.image_upload_container .remove {
  top: 0;
  position: absolute;
  right: 0;
  background: #98c6e9;
  color: #ffffff;
  border: 1px solid white;
  padding: 10px;
}

.not_found_container {
  text-align: center;
  margin-top: 96px;
  padding: 20px;
  background-size: 5px 5px !important;
  min-height: 100vh;
  text-align: center;
  font-size: 90px;
  font-family: "Righteous", cursive;
  color: #0980e7;
}

/*=============================
            HEADER FOOTER
===============================*/

footer {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  padding: 1.5rem 0px;
  position: absolute;
  right: 0;
  left: 0;
}

footer .img_cover {
  margin: 0 auto;
}

footer .footer_discl {
  margin: 10px 0px;
}

/*=============================
            FEATURED
===============================*/

.featured_wrapper {
  margin: 0 auto;
  width: 100vw;
  max-width: 100%;
  margin-top: 5rem;
  height: 550px;
  overflow: hidden;
}

.featured_stripes {
  width: 100%;
  position: relative;
}
.featured_text {
  position: relative;
  font-family: "Righteous", cursive;
}

.featured_stripes .stripe {
  width: 190px;
  height: 1200px;
  position: absolute;
}

.featured_number {
  font-size: 14rem;
  color: #ffffff;
  position: absolute;
  text-shadow: 0 0 4px #000;
  left: 14%;
}

.featured_player {
  width: 55vh;
  height: 55vh;
  right: 15vw;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
}
.featured_first {
  position: absolute;
  font-size: 5rem;
  padding: 0.6rem 1.2rem;
}

.featured_second {
  position: absolute;
  font-size: 4rem;
  padding: 0.6rem 1.1rem;
}

.featured_first {
  position: absolute;
  background: #0e1731;
  color: #ffffff;
  font-size: 2rem;
  text-transform: uppercase;
}

.featured_second {
  position: absolute;
  background: #0e1731;
  color: #ffffff;
  font-size: 2.7rem;
  text-transform: uppercase;
}

/*=============================
            MATCHES HOME
===============================*/

.home_matches_wrapper {
  background: #98c5e9;
  margin-top: 9px;
  padding: 50px 0.5rem;
}

.home_matches_wrapper .home_matches {
  /* flex-wrap: wrap; */
  display: grid;
  margin-top: 60px;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
}

.home_matches_wrapper .home_matches .item {
  /* width: 50%; */
  margin: 35px 0px;
}

.home_matches_wrapper .home_matches .item .wrapper {
  padding-right: 30px;
}

/*=============================
            MATCHES BLOCK
===============================*/

.match_block .match_date {
  color: #ffffff;
  font-size: 18px;
}

.match_block .match_wrapper .match_top,
.match_block .match_wrapper .match_bottom {
  display: flex;
}
.match_block .match_wrapper .match_bottom {
  margin-top: 5px;
}

.match_block .match_wrapper .match_top .left,
.match_block .match_wrapper .match_bottom .left {
  background: #ffffff;
  font-family: "Righteous", cursive;
  flex-grow: 1;
  margin-right: 5px;
  padding: 10px;
}

.match_block .match_wrapper .match_top .left {
  border-top-left-radius: 12px;
}
.match_block .match_wrapper .match_bottom .left {
  border-bottom-left-radius: 12px;
}
.match_block .match_wrapper .match_top .right {
  border-top-right-radius: 12px;
}
.match_block .match_wrapper .match_bottom .right {
  border-bottom-right-radius: 12px;
}
.match_block .match_wrapper .match_top .left div,
.match_block .match_wrapper .match_bottom .left div {
  float: left;
}

.match_block .match_wrapper .match_top .left .icon,
.match_block .match_wrapper .match_bottom .left .icon {
  width: 50px;
  height: 50px;
  background-size: cover !important;
}
.match_block .match_wrapper .match_top .left .team_name,
.match_block .match_wrapper .match_bottom .left .team_name {
  font-size: 30px;
  padding: 6px 10px;
}

.match_block .match_wrapper .match_top .right,
.match_block .match_wrapper .match_bottom .right {
  background: #0e1731;
  width: 70px;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  padding-top: 6px;
}

.match_box_big {
  width: 100%;
  border-bottom: 2px solid #98c6e9;
  padding: 1.3rem;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.match_box_big .block_wraper {
  padding: 0 0.5rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.match_box_big .block {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.match_box_big .icon {
  width: 3rem;
  height: 3rem;
  background-size: cover !important;
}

.match_box_big .block .team,
.match_box_big .block .result {
  font-size: 1.3rem;
  line-height: 51px;
  margin-left: 1rem;
  font-weight: 300;
}

.match_box_big .block .result {
  font-weight: 500;
}

.block_wraper.nfo {
  border-left: 1px solid #98c6e9;
  height: 100%;
  padding-left: 10px;
  font-weight: 300;
  color: #5e5e5e;
}

.block_wraper.nfo div {
  margin: 5px 0px;
}

.match_filters {
  display: flex;
  border-bottom: 1px solid #01285e;
  background: #dff1ff;
}
.match_filters .tag {
  font-weight: 300;
  margin-bottom: 5px;
  color: #656565;
}
.match_filters .option {
  background: #ffffff;
  padding: 5px 9px;
  border-radius: 3px;
  font-size: 13px;
  margin-right: 5px;
  cursor: pointer;
}

.match_filters .option.active {
  background: #62a2d3;
  color: #fff;
}

.match_filters_box {
  padding: 10px 20px;
  border-right: 1px solid #01285e;
  background: #dff1ff;
}

.match_filters .cont {
  display: flex;
}

/*=============================
            MATCHES BLOCK
===============================*/

.home_meetplayers {
  background: #ffffff;
  padding: 0 1.5rem;
  justify-content: center;
}

.home_meetplayers_wrapper {
  padding-bottom: 100px;
  min-height: 600px;
  display: grid;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.home_meetplayers .home_card_wrapper {
  position: relative;
  /* float: left; */
  min-width: 230px;
  /* width: 30rem; */
  min-height: 600px;
}

.home_meetplayers .home_text_wrapper {
  /* float: right; */
  /* min-width: 390px; */
}

/*=============================
            MATCHES BLOCK
===============================*/

.player_card_wrapper {
  background: #ffffff;
  border: 1px solid #ececec;
  width: 35vmin;
  padding: 10px 10px 20px 10px;
  font-family: "Righteous";
}
.player_card_wrapper .player_card_thmb {
  border: 1px solid #eeeeee;
  width: 100%;
  /* height: 250px; */
  height: 30vmin;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
}

.player_card_wrapper .player_card_nfo {
  position: relative;
}
.player_card_wrapper .player_card_number {
  color: #d6ecfe;
  font-size: 24vmin;
  text-align: right;
  line-height: 10rem;
}

.player_card_wrapper .player_card_name {
  position: absolute;
  bottom: 0px;
}

.player_card_wrapper .player_card_name span {
  display: block;
  font-size: 1.5rem;
  color: #0d1831;
}

.home_text_wrapper {
  margin-top: 70px;
}

/*=============================
         PROMOTION
===============================*/

.promotion_wrapper {
  padding: 2rem 0px 8rem 0px;
}

.promotion_wrapper .promotion_animation {
  display: flex;
  padding: 5rem 0px 1.9rem 0px;
  justify-content: center;
  flex-wrap: wrap;
}

.promotion_wrapper .promotion_animation .left {
  text-transform: uppercase;
  text-transform: uppercase;
  font-size: 4rem;
  font-family: "Righteous", cursive;
  flex-grow: 1;
  color: #53a5e7;
  line-height: 135px;
}
.promotion_wrapper .promotion_animation .left span {
  display: block;
}

.promotion_wrapper .promotion_animation .right {
  line-height: 135px;
}

.promotion_wrapper .promotion_animation .right div {
  width: 280px;
  height: 280px;
  background-size: contain !important;
}

.promotion_wrapper .enroll_wrapper {
  text-align: center;
}

.promotion_wrapper .enroll_title {
  font-family: "Righteous", cursive;
  font-size: 26px;
  color: #4e4e4e;
}

.promotion_wrapper .enroll_discl {
  font-weight: 300;
  font-size: 12px;
  width: 271px;
  margin: 0 auto;
  padding: 10px 0px;
  color: rgba(0, 0, 0, 0.7);
}

.promotion_wrapper .enroll_input {
  width: 330px;
  margin: 0 auto;
  padding: 10px 0px;
  outline: none;
  border: none;
}

/*=============================
         THE MATCHES
===============================*/

.error {
  border: 1px solid red;
  border-radius: 4px;
}
.success {
  border: 1px solid green;
  border-radius: 4px;
}

/* ===================

    ERROR   
================== */

.the_matches_container {
  margin-top: 5rem;
  min-height: 100vh;
}

.the_matches_wrapper {
  display: flex;
}

.the_matches_wrapper .left {
  flex-grow: 1;
}

.the_matches_wrapper .right {
  width: 400px;
}

.league_table_wrapper {
  border-left: 1px solid #98c6e9;
}
.league_table_wrapper .title {
  padding: 22px;
  font-size: 22px;
  color: #ffffff;
  background: #98c6e9;
  border-bottom: 1px solid #01285e;
}

.the_matches_wrapper .progress {
  text-align: center;
  padding: 60px 0px;
}

/*=============================
         ADMIN
===============================*/

.admin_container {
  margin-top: 70px;
  display: flex;
  height: 100%;
  /* height: 90vh; */
}

.admin_container .admin_left_nav {
  max-height: 90vh;
  background: #282828;
  border-right: 2px solid #01285e;
  display: flex;
  padding-top: 1.2rem;
  position: fixed;
  min-height: 89vh;
}

.admin_container .admin_right {
  flex-grow: 1;
  /* overflow-y: scroll; */
  min-height: 90vh;
  display: flex;
  justify-content: center;
  margin-left: 10vw;
  width: 100%;
}
.admin_container .admin_progress {
  text-align: center;
  margin: 5rem 0px;
}

.admin_container .matches_tag_red {
  font-weight: 700;
  color: #f44336;
}

.admin_container .matches_tag_green {
  font-weight: 700;
  color: #4caf50;
}

.admin_container h2 {
  margin: 0px 0px 50px 0px;
  border-bottom: 1px solid #dbdbdb;
  color: #414141;
  font-size: 40px;
}

.editmatch_dialog_wrapper,
.editplayers_dialog_wrapper {
  padding: 20px;
  width: 100%;
}

.select_team_layout .wrapper {
  display: flex;
}

.select_team_layout .wrapper .left {
  flex-grow: 1;
}

.select_team_layout input[name="result_local_input"],
.select_team_layout input[name="result_away_input"] {
  width: 60px;
  text-align: center;
  background: #98c6e9;
  color: #ffffff;
  margin: 0 1rem;
}

.admin_submit button {
  font-size: 1.2rem;
  margin: 10px auto 70px auto;
  display: block;
  border-radius: 4px;
  padding: 0.7rem 1.2rem;
  border: none;
  outline: none;
  background: linear-gradient(to right, rgb(20, 172, 233), rgb(18, 129, 219));
  cursor: pointer;
}

/*=============================
         THE TEAM
===============================*/

.the_team_container {
  margin-top: 96px;
  padding: 20px;
  background-size: 5px 5px !important;
  min-height: 100vh;
}

.team_category_wrapper .title {
  font-size: 5rem;
  margin: 1.6rem 0px;
  font-family: "Righteous", cursive;
  color: #71b9f8;
}

.team_category_wrapper .team_cards {
  display: flex;
  flex-wrap: wrap;
}
.team_category_wrapper .team_cards .item {
  margin-right: 20px;
  margin-bottom: 20px;
}

/*=============================
            SIGN IN
===============================*/

.signin_wrapper {
  margin-top: 96px;
  padding: 20px;
  min-height: 70vh;
  text-align: center;
}

.signin_wrapper form {
  width: 350px;
  margin: 0 auto;
}

.signin_wrapper form button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.signin_wrapper h2 {
  font-family: "Righteous", cursive;
  color: #98c6e9;
  font-size: 50px;
}

.user_dashboard {
  font-size: 60px;
  font-family: "Righteous", cursive;
  color: #d5ebfe;
  text-align: center;
  margin-top: 200px;
}

@media screen and (max-width: 400px) {
  .featured_second{
    font-size:2rem;
  }
  
}

@media screen and (max-width: 680px) {
  .featured_player {
    right: 5vw;
    width: 45vh;
    height: 45vh;
  }
  .home_meetplayers_wrapper {
    grid-template-columns: 1fr;
  }
}