.appbar {
  padding: 0.35rem 2rem;
  background: linear-gradient(to right, #98c5e9, #76afdd);
  min-height: 10vh;
}

.toolbar {
  display: flex;
  align-items: center;
}

.header {
  flex-grow: 1;
}

.link {
  text-decoration: none;
  color: #fff;
}
